[core]
	pager = delta
	editor = vim
	excludesfile = /home/cristian.todoran/.gitignore
[interactive]
	diffFilter = delta --color-only
[delta]
  side-by-side = true
  line-numbers = true
  navigate = true
  light = true
[merge]
  tool = nvim
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[mergetool]
  prompt = false
[diff]
  colorMoved = default
[user]
	email = cristian.todoran@softvision.com
	name = Todoran Pompiliu Cristian
[pull]
	rebase = true
[alias]
  editchanged = "!git status --porcelain | sed -ne 's/^ M //p' | tr '\\n' '\\0' | tr -d '\"' | xargs -0 nvim"
